**/bin/
**/obj/
.vs/
.idea/
.tools/
artifacts/
TestResults/
*.user
*.suo
*.log
*.pfx
*.p12
**/secrets.json
**/appsettings.Local.json
**/appsettings.*.Local.json
.env
.env.*
!.env.example
**/Properties/PublishProfiles/*.pubxml.user
